{% set featuredImage = '' %}
{% if form.vars.value.image is not empty %}
    {% set featuredImage = cms_image_src(form.vars.value) %}
{% endif %}
<img src="{{ featuredImage }}" alt="{{ 'admin.cms.image.preview_notice'|trans }}" class="img-thumbnail" data-src="holder.js/100%x200/text:{{ 'admin.cms.image.preview_notice'|trans }}"/>
<br /><br />

{% if form.file is defined %}
    {{ form_row(form.file) }}
{% endif %}

{% if form.imageAlt is defined %}
    <div class="col-sm-10">
        {{ form_row(form.imageAlt, {
            'attr': {
                'class': 'countable',
                'maxlength': '255',
                'data-counter-container': '#imageAlt-counter-' ~ locale
            }
        }) }}
    </div>
    <div class="col-sm-2">
        <span class="badge"><span id="imageAlt-counter-{{ locale }}"></span> / 255</span>
    </div>
{% endif %}
