{% set main_menu = 'nfq_cmspage' %}
{% extends 'NfqAdminBundle:Base:index.html.twig' %}

{% block pageTitle %}
    {{ 'cmspage.cmspage_head_title'|trans }}
{% endblock %}

{% block headPanel %}
    {{ 'cmspage.head_total'|trans }} ({{ pagination.getTotalItemCount }})
{% endblock %}

{% block buttons %}
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        {{ 'cmspage.cmspage_new'|trans({'%cms_type%': ''}) }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        {% for cms_type, cms_type_label in contentTypes %}
        <li><a data-target="#myModal" data-toggle="modal" href="{{ url('nfq_cmspage_new', {'_type': cms_type}) }}">{{ cms_type_label|trans }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block contentPanel %}

    {% include 'NfqCmsPageBundle:Admin/CmsPage:searchForm.html.twig' %}

    <br>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover dataTable reopenable">
            <thead>
                <tr>
                    <th>{{ nfqSorting.sortUrl('nfq_cmspage_list', 'search.id', '#') }}</th>
                    <th>
                        {{ nfqSorting.sortUrl('nfq_cmspage_list', 'search.isActive', 'cmspage.cmspage_active') }}
                    </th>
                    <th>
                        {{ nfqSorting.sortUrl('nfq_cmspage_list', 'search.contentType', 'cmspage.labels.contentType') }}
                    </th>
                    <th></th>
                    <th>
                        {{ nfqSorting.sortUrl('nfq_cmspage_list', 'search.identifier', 'cmspage.cmspage_identifier') }}
                    </th>
                    <th>
                        {{ nfqSorting.sortUrl('nfq_cmspage_list', 'search.name', 'cmspage.cmspage_name') }}
                    </th>
                    <th>
                        {{ nfqSorting.sortUrl('nfq_cmspage_list', 'search.slug', 'cmspage.cmspage_slug') }}
                    </th>
                    <th>{{ 'generic.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for key, cmsPage in pagination.pagination %}
                <tr data-id="{{ cmsPage.id }}" {% if loop.index is odd %} class="color" {% else %} class="no-color" {% endif %}>
                    <td>{{ cmsPage.id }}</td>
                    <td data-target="#myModal" data-toggle="modal" data-href="{{ path("nfq_cmspage_update", {'id': cmsPage.id, '_type': cmsPage.contentType }) }}">
                        {% if cmsPage.isActive > 0 %}
                            <span class="green_icon"> <i class="fa fa-check-square-o"></i> </span>
                        {% else %}
                            <span class="green_red"> <i class="fa fa-square-o"></i> </span>
                        {% endif %}
                    </td>
                    <td data-target="#myModal" data-toggle="modal" data-href="{{ path("nfq_cmspage_update", {'id': cmsPage.id, '_type': cmsPage.contentType }) }}">
                        {% if cmsPage.contentType is not empty %}
                            {{ ('cmspage.labels.adapter_' ~ cmsPage.contentType)|trans }}
                        {% endif %}
                    </td>
                    <td style="width: 110px" data-target="#myModal" data-toggle="modal" data-href="{{ path("nfq_cmspage_update", {'id': cmsPage.id, '_type': cmsPage.contentType }) }}">
                        {% if cmsPage.image is not empty %}
                            <img src="{{ cms_image_src(cmsPage) }}" alt="Cms Page image" style="width:100px;">
                        {% endif %}
                    </td>
                    <td data-target="#myModal" data-toggle="modal" data-href="{{ path("nfq_cmspage_update", {'id': cmsPage.id, '_type': cmsPage.contentType }) }}">
                        {{ cmsPage.identifier }}
                    </td>
                    <td data-target="#myModal" data-toggle="modal" data-href="{{ path("nfq_cmspage_update", {'id': cmsPage.id, '_type': cmsPage.contentType }) }}">
                        {{ cmsPage.name }}
                    </td>
                    <td data-target="#myModal" data-toggle="modal" data-href="{{ path("nfq_cmspage_update", {'id': cmsPage.id, '_type': cmsPage.contentType }) }}">
                        {{ cmsPage.slug }}
                    </td>
                    <td class="col-lg-1">
                        <span class="red_icon" data-toggle="modal" data-href="{{ url('nfq_cmspage_delete', {id: cmsPage.id, '_type': cmsPage.contentType}) }}">
                            <i class="fa fa-trash-o"></i>
                        </span>
                        &nbsp;
                        {% if cmsPage.isPublic %}
                        <a href="{{ cms_url(cmsPage.identifier) }}" target="_blank">
                            <i class="fa fa-eye"></i>
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" class="text-center">{{ 'cmspage.cmspage_nopages'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div> <!-- /.table-responsive-->
{% endblock %}
