{% set main_menu = 'cmspage' %}
{% set width = '70%' %}
{% extends app.request.query.get('isModal')|default(false) ? "NfqAdminBundle::modal.html.twig" : "NfqAdminBundle::layout.html.twig" %}

{% block title %}
    {% set entityName = entity.identifier %}
    {% if entity.name is not empty %}
        {% set entityName = entity.name %}
    {% endif %}

    #{{ entity.id }}: {{ entityName }} - {{ 'cmspage.cmspage_edit'|trans }}
{% endblock %}

{% block content %}
    {{ tinymce_init() }}
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs" role="tablist">
                {% for locale, form in forms %}
                    <li class="{% if isActiveLocale(_context, locale) %}active{% endif %}"><a href="#{{ locale }}-tab" role="tab" data-toggle="tab">{{ locale }}</a></li>
                {% endfor %}
            </ul>
            <br />
            <div class="tab-content">
                {% embed "NfqCmsPageBundle:Admin/CmsPage:_form.htm.twig" %}{% endembed %}
            </div>
        </div>
    </div>
{% endblock %}
