{% trans_default_domain 'adminInterface' %}
{% set main_menu = 'cmspages' %}
{% set width = '70%' %}
{% extends app.request.query.get('isModal')|default(false) ? '@NfqAdmin/modal.html.twig' : '@NfqAdmin/base/index.html.twig' %}

{% block page_box_header %}
    {% set entityName = entity.identifier %}
    {% if entity.name is not empty %}
        {% set entityName = entity.name %}
    {% endif %}

    #{{ entity.id }}: {{ entityName }} - {{ 'admin.cms.cmspage_edit'|trans }}
{% endblock %}

{% block page_box_body %}
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs" role="tablist">
                {% for locale, form in forms %}
                    <li class="{% if isActiveLocale(_context, locale) %}active{% endif %}"><a href="#{{ locale }}-tab" role="tab" data-toggle="tab">{{ locale }}</a></li>
                {% endfor %}
            </ul>
            <br />
            <div class="tab-content">
                {% embed '@NfqCmsPage/admin/cms_page/_form.htm.twig' %}{% endembed %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ tinymce_init() }}
{% endblock %}
